label.label{
    padding-left: 2%;
    padding-right: 0.3%;
    text-align: initial;
}

form {
    display: block;
    margin-top: 0em;
  }

.row {
    width: 70%;
    display: flex;
    padding: 0.5%;
}

.column-text {
    width: 20%;
    text-align: right;
    padding-right: 1%;
}

.column-input {
    width: 8%;
}

.column-input2 {
    width: 25%;
}

.column-input3 {
    width: 13%;
}

button {
    margin-left: 20.5%;
    margin-top: 0.75%;
}

.virhe {
    margin-left: 1.5%;
    color: red;
}

h1 {
    margin-left: 12%;
}

p {
    margin-left: 12%;
}